@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.input {
    flex: 1;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    padding: 10px;
}
.send {
    background-color: #3770CC;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.btn {
    background-image: url('/public/question.png'); 
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
}