.container {
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
    background-color: 'black';
}
.input {
    flex: 1;
    border-width: 1;
    border-color: 'gray';
    border-radius: 5;
    padding: 10;
}
.send {
    background-color: '#3770CC';
    border-width: 1;
    border-radius: 5;
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 6;
    padding-right: 6;
}
.image {
    width: 40;
    height: 40;
}